@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

html, body {
  margin: 0;
  font-family: "Asap", "Ubuntu", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    font-family: 'Josefin Sans', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-X: hidden;
  width: 100%;
  height: 100%;
  
}

code {
  font-family: "Ubuntu", source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* body ::-webkit-scrollbar {
  display: none;
} */